weburi=backups.example.es
remotehost=example.es
remoteuser=iblas
webroot[0]=/var/www/vhosts/backups.example.es/httpdocs
# webroot[1]=/var/www/vhosts/backups.example.es/httpdocs
# webroot[2]=/var/www/vhosts/backups.example.es/httpdocs
databasename=backups_example
databaseuser=backups_example
databasepassword=example
